@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@font-face {
  font-family: 'Pollos';
  src: url("pollos.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Chorasmian&display=swap');
/*font-family: 'Noto Sans Chorasmian', sans-serif;*/



{
font-family: 'Rubik Puddles', cursive;
}
    
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
      
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
	font-size: 30px;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	bottom: 130px;
	right: 25%;
	font-family: Pollos;
  }
      
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font-size: 30px;
  border-radius: 8px;
	cursor: pointer;
	position: relative;
	left: 30%;
	font-family: Pollos;
  }
      
.neonText {
	font-family: 'Pollos';
  color: rgb(255, 0, 0);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 140, 0),
    0 0 82px rgb(203, 21, 21),
    0 0 92px rgb(255, 0, 0),
    0 0 102px rgb(255, 0, 0),
    0 0 151px rgb(255, 0, 0);
  }
.corpo {
  font-size: 25px;
  color: black;
  font-family: 'Noto Sans Chorasmian', sans-serif;
  }

.fotodx {
  position: relative;
  right: 10%;
  bottom: 150px;
}

.fotosx {
  position: relative;
  top: 80px;
  right: 5%;
}

.test {
  text-align: center;
}

.corpoindex {
  font-family: 'Noto Sans Chorasmian', sans-serif;
  }

.titolicolonna {
  border: 2px solid black
  padding: 8px;
  background-color: white;
  font-family: Pollos;
  color: red;
  font-size: 40px;
  text-align: center;
}

.corpocolonna {
  border: 2px solid black;
  padding: 8px 20px 8px 8px;
  font-family: Pollos;
  color: rgb(255, 247, 0);
  font-size: 30px;
  text-align: center;
}

    /*Per importare il file css bisogna mettere sta cosa bellina all'inizio di ogni html
    <link rel="stylesheet" href="style.css" />  */